html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 50px;
  background: linear-gradient(45deg, #d6c7ec 0%, #f6d18d, #eba2c4 100%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
}

main {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

h1 {
  font-variant: small-caps;
  font-size: 2.2em;
}
